NET "clk"     LOC = P85 | IOSTANDARD = LVCMOS33;
NET "reset_n" LOC = P57 | IOSTANDARD = LVCMOS33;

NET "SW[0]" LOC = P27 | IOSTANDARD = LVCMOS33;
NET "SW[1]" LOC = P26 | IOSTANDARD = LVCMOS33;
NET "SW[2]" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "SW[3]" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "SW[4]" LOC = P17 | IOSTANDARD = LVCMOS33;
NET "SW[5]" LOC = P21 | IOSTANDARD = LVCMOS33;
NET "SW[6]" LOC = P22 | IOSTANDARD = LVCMOS33;
NET "SW[7]" LOC = P23 | IOSTANDARD = LVCMOS33;



NET "TL[0]" LOC = P9  | IOSTANDARD = LVCMOS33;
NET "TL[1]" LOC = P8  | IOSTANDARD = LVCMOS33;
NET "TL[2]" LOC = P7  | IOSTANDARD = LVCMOS33;
NET "TL[3]" LOC = P10 | IOSTANDARD = LVCMOS33;
NET "TL[4]" LOC = P11 | IOSTANDARD = LVCMOS33;
NET "TL[5]" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "TL[6]" LOC = P14 | IOSTANDARD = LVCMOS33;
NET "TL[7]" LOC = P15 | IOSTANDARD = LVCMOS33;

NET "dac_sclk" LOC = P70 | IOSTANDARD = LVCMOS33;
NET "dac_mosi" LOC = P65 | IOSTANDARD = LVCMOS33;
NET "dac_cs_n" LOC = P100 | IOSTANDARD = LVCMOS33;